.mainGarage {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.mainGarageBox {
  width: 100%;
  max-width: 1200px;
  padding: 50px 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.mainGarageBox strong {
  color: #6F65EA;
  font-size: 2rem;
}

.mainGarageBoxContent {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.mainGarageBoxContentVehicleTypes {
  flex: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 15px;
  display: flex;
  gap: 15px;
}

.mainGarageBoxContentVehicleTypesItem {
  border: solid 2px gray;
  background-color: #fff;
  width: 100%;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  transition: all .1s linear;
}

.mainGarageBoxContentVehicleTypesItem:hover {
  border: solid 2px #6F65EA;
}

.mainGarageBoxContentVehicleConfigsItem.vehicleSelected {
  border: solid 2px #6F65EA;

}

.mainGarageBoxContentVehicleTypesItem span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainGarageBoxContentVehicleTypesItem svg {
  font-size: 2.5rem;
  transition: all .1s linear;

}

.mainGarageBoxContentVehicleTypesItem:hover svg, .vehicleSelected {
  color: #6F65EA;
}

.mainGarageBoxContentVehicleConfigs {
  flex: 3;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mainGarageBoxContentVehicleConfigs button {
  width: 100%;
  padding: 5px 10px;
  border: solid 1px #6F65EA;
  color: #6F65EA;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.mainGarageBoxContentVehicleConfigsAll {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.mainGarageBoxContentVehicleConfigsItem {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mainGarageBoxContentVehicleConfigsAll input {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
